#kalkulacka {
    width: 200px;
    text-align:center;
    margin-left: 40%;
    margin-top: 15%;
}
#displej{
    margin: 10px;
    font-size: 30px;
}
#tlacitka button{
    font-weight: bold;
    margin: 2px;
    background-color: rgb(130, 17, 196);
    border: 1px solid black;
    border-radius: 10px;
    font-size: 30px
 }
 
